html {
  height: 100%;
}

body {
  margin: 0;
  font-family: 'Nunito', arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: url(Assets/images/Background.svg);
  background-repeat: repeat;
  background-size: cover;
  background-attachment: fixed;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
