.react-calendar {
  background: #fff;
  width: 100%;
  max-width: 335px;
  font-family: "Nunito", Arial, Helvetica, sans-serif;
  line-height: 1.125em;
  margin: 0 auto;
}
.react-calendar--doubleView {
  width: 700px;
}
.react-calendar--doubleView .react-calendar__viewContainer {
  display: flex;
  margin: -0.5em;
}
.react-calendar--doubleView .react-calendar__viewContainer > * {
  width: 50%;
  margin: 0.5em;
}
.react-calendar,
.react-calendar *,
.react-calendar *:before,
.react-calendar *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.react-calendar button {
  font-size: 14px;
  font-weight: 700;
  border-radius: 44px;
  margin: 0;
  border: 0;
  outline: none;
}
.react-calendar button:enabled:hover {
  cursor: pointer;
}
.react-calendar__navigation {
  height: 44px;
  margin-bottom: 1em;
}
.react-calendar__navigation button {
  min-width: 44px;
  background: none;
  line-height: 100%;
}
.react-calendar__navigation button:enabled:hover,
.react-calendar__navigation button:enabled:focus {
  /* background-color: #e6e6e6; */
  background-color: #eeecff;
}
.react-calendar__navigation button[disabled] {
  background-color: #f0f0f0;
}
.react-calendar__month-view__weekdays {
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 0.75em;
}
.react-calendar__month-view__weekdays__weekday {
  font-weight: 700;
  padding: 0.5em;
}
.react-calendar__month-view__weekNumbers {
  font-weight: bold;
}
.react-calendar__month-view__weekNumbers .react-calendar__tile {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 0.75em;
  padding: calc(0.75em / 0.75) calc(0.5em / 0.75);
}
.react-calendar__month-view__days__day--weekend {
  color: #8870FF;
  /* color: #d10000; */
}
.react-calendar__month-view__days__day--neighboringMonth {
  color: #757575;
}
.react-calendar__year-view .react-calendar__tile,
.react-calendar__decade-view .react-calendar__tile,
.react-calendar__century-view .react-calendar__tile {
  padding: 2em 0.5em;
}
.react-calendar__tile {
  background: none;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 12px;
  font-weight: 400;
  padding: 0;
  text-align: center;
  width: 26px;
}
.react-calendar__tile abbr {
  border-radius: 50%;
  display: flex;
  font-weight: 400;
  align-items: center;
  justify-content: center;
  height: 26px;
  line-height: 100%;
  text-align: center;
  min-width: 26px;
}

.react-calendar__tile:disabled abbr {
  background-color: #f0f0f0;
}
.react-calendar__tile:enabled:hover abbr,
.react-calendar__tile:enabled:focus abbr {
  background-color: #eeecff;
}
.react-calendar__tile--now abbr {
  background: #8870FF;
}
.react-calendar__tile--now:enabled:hover abbr,
.react-calendar__tile--now:enabled:focus abbr {
  background: #8870FF;
}
.react-calendar__tile--hasActive {
  background: #b9b3ff;
}
.react-calendar__tile--hasActive:enabled:hover,
.react-calendar__tile--hasActive:enabled:focus {
  background: #b9b3ff;
}
.react-calendar__tile--active abbr {
  color: white;
}
.react-calendar__tile--active abbr {
  background: #8870ff;
}
.react-calendar__tile--active:enabled:hover abbr,
.react-calendar__tile--active:enabled:focus abbr {
  background: #8870ff;
}
.react-calendar--selectRange .react-calendar__tile--hover {
  background-color: #8870FF;
}
  